.movies__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 339px));
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 50px auto 0;
}

@media screen and (min-width: 768px) {
    .movies__list {
        row-gap: 36px;
        column-gap: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .movies__list {
        grid-template-columns: repeat(auto-fill, 270px);
        row-gap: 32px;
        column-gap: 20px;
    }
}
