.more__films {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 0;
}
.more__btn {
    width: 200px;
    height: 36px;
    border: 1px solid #424242;
    border-radius: 6px;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: #fff;
    background-color: #202020;
}

@media screen and (min-width: 768px) {
    .more__btn {
        width: 320px;
    }
}
