.portfolio {
    width: 292px;
    margin: 70px auto 153px;
}
.portfolio__title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #A0A0A0;
}
.portfolio__links {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;

}
.portfolio__link_item {
    border-bottom: 1px solid #e6e6e6;
}
.portfolio__link {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: -0.04em;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
}
.portfolio__link_item:last-child {
    border-bottom: none;
}
@media screen and (max-width: 768px) {
    .portfolio {
        width: calc(292px + 376 * ((100vw - 320px) / (768 - 320)));
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .portfolio {
        width: calc(668px + 472 * ((100vw - 768px) / (1280 - 768)));
        margin: 100px auto 205px;
    }
    .portfolio__title {;
        font-size: 18px;
    }
    .portfolio__link {
        font-size: 28px;
    }
}
@media screen and (min-width: 1280px) {
    .portfolio {
        width: 1140px;

    }
    .portfolio__link {
        font-size: 30px;
    }
}
